#status-modal .modal-body,
#confirmation-modal .modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#status-modal .modal-body i,
#confirmation-modal .modal-body i {
  font-size: 100px;
  margin-top: 20px;
}
#status-modal .modal-body button,
#confirmation-modal .modal-body button {
  min-width: 70px;
}
