#status-modal .modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#status-modal .modal-body i {
  font-size: 70px;
}
#status-modal .modal-body button {
  min-width: 70px;
}
